.container {
  position:relative;
}

.container-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.container-popup-edit > dialog {
  position: relative;
  width: 20%;
  height: 50%;
  top: 25%;
  left: 40%;
}

.container-popup-add > dialog {
  position: relative;
  width: 20%;
  height: 50%;
  top: 25%;
  left: 40%;
}

span{
    padding: 6px;
    line-height: 10px;
    cursor: pointer;
    position: absolute;
    right: 2%;
    top: 4%;
}

.popup-title {
  text-align: center;
}

.popup-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
}

.popup-row > p {
  position: relative;
  width: 30%;
}

.popup-row > input {
  position: relative;
  width: 70%;
}

.popup-bottom {
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.popup-bottom-new {
  padding: 10px 0px;
  align-items: center;
  text-align: center;
  width: 100%;
}

.popup-bottom > button {
  width: 40%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
}

.popup-bottom-new > button {
  border-radius: 10px;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
}

.container-search {
  align-items: center;
  justify-content: center;
  width: 50%;
}

form {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

input {
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 10px;
  font: 16px system-ui;
  height: 100%;
  width: 100%;
  padding: 10px 10px;
  margin-right: 10px;
}

.container-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-button {
  height: 100%;
  border-radius: 10px;
  border: 1px solid black;
  background-color: white;
  color: black;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.container-sorter {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 10px;
  text-align: right;
  align-items: center;
}

.container-main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}

.button-add {
  border-radius: 10px;
  width: 80px;
  height: 40px;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
  font-size: 16px;
}
